---
import BaseLayout from '../components/layouts/BaseLayout.astro';

const pageTitle = 'Sobre Mi';

const identity = {
  firstname: 'Victor',
  country: 'Argentina',
  occupation: 'Desarrollador Web',
  hobbies: ['Programar', 'Videojuegos', 'Investigación']
};

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Git',
  'GitHub',
  'TypeScript',
  'Vue',
  'PostgreSQL',
  'Docker',
  'NodeJS',
  'Express',
  'Vite',
  'TailwindCSS',
  'Figma'
];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... ¡y mi primer Blog usando Astro!</h2>
  <p>
    Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
    pagina que estoy desarrollando en este proyecto.
  </p>
  <p>
    Este sitio se ira actualizando a medida que vaya avanzando en el curso de
    astro.
  </p>

  <p>Aquí te dejo algunos datos sobre mi:</p>
  <ul>
    <li>Me llamo {identity.firstname}</li>
    <li>
      Vivo en {identity.country} y trabajo como {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Dos de mis Aficiones son: {identity.hobbies[0]} y{' '}
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li class='skill'>{skill}</li>)}
  </ul>

  {happy && <p>¡Estoy feliz de aprender!</p>}
  {finished && <p>¡He terminado este tutorial!</p>}

  {
    goal === 3 ? (
      <p>¡Mi meta es terminan en 3 días!</p>
    ) : (
      <p>Mi meta no son 3 días</p>
    )
  }
</BaseLayout>
